* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--Primary-700, #e2032b);
  color: #fff;
  font-family: "Jost";
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}
.inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.inputCnt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: #fff;
  padding: 10px 14px;
}

.select option {
  color: var(--Gray-900, #101828);
}

.select {
  border: 1px solid var(--Primary-300, #f87f8e);
  color: #fff;
  border-radius: 8px;
  position: relative;
}
.input {
  border: 1px solid var(--Primary-300, #f87f8e);
  color: #fff;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 10px 14px;
}

button {
  border: none;
  background: var(--Primary-50, #fff6f6);
  padding: 10px 16px;
  color: var(--Gray-900, #101828);
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: var(--Primary-50, #fff6f6);
}
button:active {
  background-color: var(--Primary-100, #ffebed);
}
button:disabled {
  background: var(--Primary-300, #f87f8e);
}

@keyframes spin-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  padding-left: 54px;
  position: relative;
}
.loader::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 10C21 10 18.995 7.26822 17.3662 5.63824C15.7373 4.00827 13.4864 3 11 3C6.02944 3 2 7.02944 2 12C2 16.9706 6.02944 21 11 21C15.1031 21 18.5649 18.2543 19.6482 14.5M21 10V4M21 10H15' stroke='%23F87F8E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 0;
  display: block;

  animation: spin-icon 1s linear infinite;
}
