* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e2032b;
  color: #fff;
  font-family: "Jost";
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}

.inputCnt {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 0 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: #fff;
  padding: 10px 14px;
}

.select option {
  color: #101828;
}

.select {
  border: 1px solid #f87f8e;
  color: #fff;
  border-radius: 8px;
  position: relative;
}
.input {
  border: 1px solid #f87f8e;
  color: #fff;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  padding: 10px 14px;
}

button {
  border: none;
  background: #fff;
  padding: 10px 16px;
  color: #101828;
  border-radius: 8px;
  cursor: pointer;
}
button:disabled {
  background: #f87f8e;
}

@keyframes spin-icon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
