.tree {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tree .node {
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  cursor: default;
}
.tree .node.collapsed:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='%23F87F8E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
}
.tree .node.expanded:before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23F87F8E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
}
.tree .node.leaf {
  cursor: pointer;
}
.tree .node.leaf .icon {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9H21M3 15H21M12 3V21M7.8 3H16.2C17.8802 3 18.7202 3 19.362 3.32698C19.9265 3.6146 20.3854 4.07354 20.673 4.63803C21 5.27976 21 6.11984 21 7.8V16.2C21 17.8802 21 18.7202 20.673 19.362C20.3854 19.9265 19.9265 20.3854 19.362 20.673C18.7202 21 17.8802 21 16.2 21H7.8C6.11984 21 5.27976 21 4.63803 20.673C4.07354 20.3854 3.6146 19.9265 3.32698 19.362C3 18.7202 3 17.8802 3 16.2V7.8C3 6.11984 3 5.27976 3.32698 4.63803C3.6146 4.07354 4.07354 3.6146 4.63803 3.32698C5.27976 3 6.11984 3 7.8 3Z' stroke='%23F87F8E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
}
.tree .node:hover {
  background-color: var(--Primary-600, #ff002c);
}
.tree .node.level-2 {
  margin-left: 16px;
}
.tree .node.level-3 {
  margin-left: 32px;
}

.badge {
  font-size: 12px;
  line-height: 20px;
  min-width: 20px;
  padding: 0 4px;
  height: 20px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--Primary-700, #e2032b);
  background-color: var(--Primary-50, #fff6f6);
}
